/* ==================================== */
/* THEME */
/* Dark Theme (Added in Inky 0.10.0) */
/* Automatically applied, can be forced at the top of Inky script using either: */
/* '# theme: dark' OR '# theme: light' */
/* ==================================== */
body.switched,
.switched #header,
.switched #story {
  transition: background-color 0.6s;
}

body.dark {
  color: var(--light);
  background: var(--dark);
}

/* .dark #story, */
.dark #header {
  background: var(--dark);
}

.dark #controls [disabled] {
  color: var(--gray);
}

.dark #story {
  border: 1px solid var(--light);
}

.dark a:hover {
  color: var(--light);
  transition: color 0.1s;
}

.dark .end {
  color: var(--light);
}
